* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */

:root {
    --font-size: 18px;
    --line-height: 22px;

    --text-color-primary: #070707;
    --text-color-secondary: #828282;

    --bg-color-primary: #fff;
    --bg-color-secondary: #f6f6f6;
}

html,
body {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color-primary);
    scroll-behavior: smooth;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 660px) {
    .container {
        width: 100%;
        padding: 0 28px;
    }
}

.text-link,
.text-link:visited {
    font: inherit;
    color: var(--text-color-secondary);
    transition: all .2s;
}

.text-link:hover {
    color: var(--text-color-primary);
}

.text-link:active {
    opacity: .5;
}

/* Header styles */

header {
    background-color: var(--bg-color-primary);
    padding-bottom: 100px;
}

.header-menu {
    height: 88px;
    border-bottom: 2px solid var(--text-color-secondary);
}

.header-menu-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu-item {
    position: relative;
}

.menu-item::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    content: "";
    height: 0;
    width: 0;
    border-bottom: 2px solid var(--text-color-primary);
    transition: width .3s;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-item a {
    display: block;
    height: 48px;
    line-height: 48px;

    color: var(--text-color-secondary);
    font-family: "Gilroy-Bold", sans-serif;
    text-decoration: none;

    transition: color, .3s;
}

.menu-item a:hover {
    color: var(--text-color-primary);
}

.menu-item.current > a {
    color: var(--text-color-primary);
}

.burger-menu-button {
    position: absolute;
    top: 0;
    right: 30px;
    width: 33px;
    height: 33px;
    border: none;
    background-color: transparent;
}

.burger-menu-icon {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--text-color-primary);
    transition: all .2s;
    z-index: 101;
}

.burger-menu-icon::before,
.burger-menu-icon::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--text-color-primary);
    transition: top .2s, transform .2s .2s;
    z-index: 100;
}

.burger-menu-icon::before {
    top: 7px;
}

.burger-menu-icon::after {
    top: 23px;
}

.burger-menu-icon.active {
    background-color: transparent;
    transition: top .2s .2s, transform .2s;
}

.burger-menu-icon.active::before {
    background-color: var(--text-color-secondary);
    top: 15px;
    transform: rotate(45deg);
}

.burger-menu-icon.active::after {
    background-color: var(--text-color-secondary);
    top: 15px;
    transform: rotate(-45deg);
}

.personal-name-profession {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 190px;
}

.personal-name {
    margin-right: 130px;
}

.personal-name h1 {
    font-size: 47px;
    line-height: 58px;
}

.profession-info {
    align-self: flex-end;
    margin-bottom: 44px;
}

.personal-photo img {
    display: block;
    width: 100%;
    height: auto;
}

.personal-photo img.photo-sm {
    display: none;
}

.header-menu-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color-primary);
    transition: all .4s;
    transform: translateX(-100vw);
    padding: 65px 70px 0 26px;
}

.header-menu-modal.open {
    transform: translateX(0);
}

.header-menu-modal-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-modal-item {
    margin-bottom: 65px;
}

.menu-modal-item a {
    color: var(--text-color-secondary);
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-decoration: none;
    transition: all .2s;
}

.menu-modal-item.current a {
    color: var(--text-color-primary);
}

.menu-modal-item a:hover {
    color: var(--text-color-primary);
}

.menu-modal-item a:active {
    opacity: .5;
}

@media screen and (max-width: 660px) {
    header {
        padding-top: 65px;
        padding-bottom: 83px;
    }

    .header-menu {
        display: none;
    }

    .header-menu-modal {
        display: block;
    }

    .personal-name-profession {
        display: block;
        margin-bottom: 37px;
    }

    .personal-name {
        margin: 0 0 23px;
    }

    .personal-photo img.photo-lg {
        display: none;
    }

    .personal-photo img.photo-sm {
        display: block;
    }
}

/* Main section styles */

.about-me {
    background-color: var(--bg-color-secondary);
    padding-top: 120px;
    padding-bottom: 107px;
}

.section-title {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 34px;
    font-weight: normal;
    line-height: 42px;
    margin-bottom: 1rem;
    text-align: center;
}

.about-me-content {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.about-me-content p {
    margin-bottom: 2rem;
}

.about-me-content p:last-child {
    margin-bottom: 0;
}

.skills {
    padding-top: 90px;
    padding-bottom: 80px;
}

.skills .section-title {
    margin-bottom: 69px;
}

.skills-description {
    text-align: center;
    margin: 0 auto 83px;
    max-width: 500px;
}

.skills-cards {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 20px;
}

@media screen and (max-width: 760px) {
    .skills-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 380px) {
    .skills-cards {
        grid-template-columns: 1fr;
    }
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 165px;
    height: 205px;
}

.skill-item-img {
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
}

.skill-item-title {
    color: var(--text-color-secondary);
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: auto;
    text-align: center;
    width: 90px;
}

.skill-item-rating {
    display: flex;
    justify-content: space-between;
    width: 165px;
}

.skill-item-rating .star {
    background: url("img/Star.svg") no-repeat center center;
    width: 26px;
    height: 26px;
}

.skill-item-rating .star.disabled {
    background-image: url("img/Star-disabled.svg");
}

.portfolio {
    background-color: var(--bg-color-secondary);
    padding-top: 113px;
    padding-bottom: 96px;
}

.portfolio .section-title {
    margin-bottom: 47px;
}

.portfolio-list {
    list-style: none;
}

.portfolio-item {
    text-align: center;
    margin-bottom: 99px;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-item-img {
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}

.portfolio-item-link {
    color: var(--text-color-primary);
    display: inline-block;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1rem;
    transition: all .2s;
}

.portfolio-item-link:hover {
    color: var(--text-color-secondary);
}

.portfolio-item-link:active {
    opacity: .5;
}

.portfolio-item p {
    max-width: 500px;
    margin: 0 auto;
}

/* Footer section */

footer {
    padding-top: 114px;
    padding-bottom: 123px;
}

.container-footer {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .container-footer {
        width: 100%;
        padding: 0 10px;
    }
}

.contacts-text {
    margin-bottom: 30px;
}

.contacts-button {
    background-color: var(--text-color-primary);
    color: var(--bg-color-primary);
    font: inherit;
    padding: 13px 30px;
    border: none;
    border-radius: 24px;
    margin-bottom: 85px;
    transition: all .2s;
}

.contacts-button:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transform: translateY(-5px);
}

.contacts-button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transform: translateY(0);
}

.social-icons {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 45px;
}

.social-icon a {
    display: block;
    font-size: 0;
    width: 40px;
    height: 40px;
}

.social-icon.habr a {
    background: url("img/habr-logo.png") no-repeat center center;
}

.social-icon.instagram a {
    background: url("img/Instagram.svg") no-repeat center center;
}

.social-icon.github a {
    background: url("img/github_icon.svg") no-repeat center center;
}

.social-text {
    color: var(--text-color-secondary);
    font-size: 14px;
    line-height: 17px;
}

.social-text a,
.social-text a:visited {
    color: var(--text-color-primary);
}

.social-text a:hover {
    color: var(--text-color-secondary);
}

.social-text a:active {
    opacity: .5;
}

/* Modal styles */

.modal-contacts-container {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    scroll-behavior: unset;
}

.open {
    display: block;
}

.modal-contacts {
    width: 500px;
    padding: 20px;
    background-color: var(--bg-color-primary);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-contacts .icon-close {
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.modal-contacts .icon-close::before,
.modal-contacts .icon-close::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text-color-primary);
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
}

.modal-contacts .icon-close::before {
    transform: rotate(45deg);
}

.modal-contacts .icon-close::after {
    transform: rotate(-45deg);
}

.contacts-form fieldset {
    border: none;
}

.contacts-form legend {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 1rem;
    text-align: center;
}

.contacts-form label {
    display: block;
    line-height: 30px;
    margin-bottom: .5rem;
}

.contacts-form input[type="text"],
.contacts-form input[type="email"],
.contacts-form input[type="tel"],
.contacts-form textarea {
    border: 2px solid var(--text-color-secondary);
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
    font: inherit;
    padding: .2rem .5rem;
    width: 100%;
}

.contacts-form input[type="submit"] {
    background-color: var(--text-color-primary);
    color: var(--bg-color-primary);
    cursor: pointer;
    font: inherit;
    padding: 13px 30px;
    border: none;
    border-radius: 24px;
    transition: all .2s;
    width: 100%;
}

.contacts-form input[type="submit"]:active {
    opacity: .5;
}